@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  text-align: center;
}

.collection-link {
  height: 150px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
}

.collection-link > .title {
  position: absolute;
  z-index: 10;
  left: 30px;
  line-height: 150px;
  text-shadow: 0 0 5px 5px white;
  margin: 0;
  width: calc(100% - 30px);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7) 25%, rgba(255, 255, 255, 0) 75%);
  opacity: 0.9;
  transition: opacity 300ms;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: initial;
}

.collection-link > .title > .icon {
  position: relative;
  top: 4px;
  opacity: 0.5;
}

@media screen and (max-width: 920px) {
  .collection-link {
    height: 100px;
  }

  .collection-link > .title {
    font-size: 1.5em;
    line-height: 100px;
  }
}

@media screen and (max-width: 600px) {
  .collection-link > .title {
    left: 10px;
    font-size: 1.25em;
  }
}

.collection-link > img {
  display: block;
  opacity: 0.8;
  transition: opacity 300ms;
}

.collection-link:hover > .title {
  opacity: 1;
}

.collection-link:hover > img {
  opacity: 1
}
