@import "collection_link";

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: url('../fonts/lexend.woff2') format('truetype');
  font-display: swap;
}

html {
  height: 100%;
  --font-inter: 'Inter', 'sans-serif';
  --font-lexend: 'Lexend', 'sans-serif';
}

body {
  margin: 0;
  line-height: inherit;
}

header {
  background: url('/header.svg') no-repeat center center, linear-gradient(45deg, #7957d5 0%, #ae57d5 100%);
}


